<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.grammiegram.grammiegram_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.BoardListActivity" />
        <activity
            android:name=".activities.BoardActivity"
            android:theme="@style/AppTheme"
            android:keepScreenOn="true"
            android:screenOrientation="landscape"/> <!-- force landscape orientation for boards -->
        <activity android:name=".activities.SignInActivity">
            <!-- Login is launching activity (immediately launches others if token is already present) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>